<export default>
	<footer id="footer" class="page-footer grey darken-4 white-text">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">{{ heading }}</h5>
					<p class="grey-text text-lighten-4" v-html="content"></p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">{{ linksHeading }}</h5>
					<ul>
						<template v-for="link in links">
							<li>
								<a class="grey-text text-lighten-3" :href="link.url">{{ link.text }}</a>
							</li>
						</template>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container" v-html="copyright"></div>
		</div>
	</footer>
</export>