<export default>
	<title>{{model.title}}</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/materialize/css/materialize.css">
	<link rel="stylesheet" href="/css/navbar.css">
	<link rel="stylesheet" href="/css/error.css">
	<link rel="stylesheet" href="/css/homeForm.css">
	<link rel="stylesheet" href="/css/font-awesome/css/all.css">
	<script src="/js/jquery.js"></script>
	<script src="/materialize/js/materialize.js"></script>
	<script src="/js/vue.js"></script>
	<script type="module" src="/js/pager/pager.js"></script>
	<import templates.scripts.model>
		<default>
		<user>
	</import>
</export>