<export default>
	<nav id="navbar" class="grey darken-4 white-text" style="background-color: #4d4d4d;">
		<div class="nav-wrapper">
			<ul class="left hide-on-med-and-down">
				<template v-for="tab in leftTabs">
					<a :href="tab.url" class="waves-effect">{{ tab.text }}</a>
				</template>
			</ul>
			<a :href="titleLink" class="brand-logo center hover-only">
				<img :src="logo">
				{{ title }}
			</a>
			<ul class="right hide-on-med-and-down">
				<a v-if="user" href="/profile" class="waves-effect">{{ user.username }}</a>
				<a v-if="user" href="/logout" target="_self" class="waves-effect">Logout</a>
				<template v-if="!user" v-for="tab in rightTabs">
					<a :href="tab.url" class="waves-effect">{{ tab.text }}</a>
				</template>
			</ul>
		</div>
	</nav>
</export>
<export entry>
	<nav id="navbar" class="grey darken-4 white-text" style="background-color: #4d4d4d;">
		<div class="nav-wrapper">
			<ul class="left hide-on-med-and-down">
				<template v-for="tab in leftTabs">
					<a :href="tab.url" class="waves-effect">{{ tab.text }}</a>
				</template>
			</ul>
			<a :href="titleLink" class="brand-logo center hover-only">
				<img :src="logo">
				{{ title }}
			</a>
			<ul class="right hide-on-med-and-down">
				<template v-for="tab in rightTabs">
					<a :href="tab.url" class="waves-effect">{{ tab.text }}</a>
				</template>
			</ul>
		</div>
	</nav>
</export>