<layout layouts.main>
	<export default>
		<div id="login" class="row">
			<div class="card col m4 offset-m4 grey darken-4 white-text">
				<div class="card-title">
					<h1 class="center-align">{{title}}</h1>
					<h6 class="red-text center-align">{{model.error}}</h6>
				</div>
				<div class="card-content" style="padding-top: 0 !important;">
					<form id="form" method="POST">
						<div class="row">
							<div class="input-field col s12">
								<input id="username" name="username" type="text" class="validate white-text" v-model="form.username">
								<label for="username">{{usernameLabel}}</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input id="password" name="password" type="password" class="validate white-text" v-model="form.password">
								<label for="password">{{passwordLabel}}</label>
							</div>
						</div>
						<input type="hidden" name="_csrf" value="{{model.csrfToken}}">
						<div class="row">
							<div class="col s12">
								<label>
									<input name="remember" type="checkbox" class="filled-in" v-model="form.rememberMe">
									<span v-html="form.rememberMeText"></span>
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col s4 offset-m4">
								<button class="btn col s12">{{login}}</button>
							</div>
						</div>
					</form>
				</div>
				<div class="card-action center-align">
					<a class="teal-text" href="javascript:history.back()">{{back}}</a>
					<a class="teal-text" href="/">{{homepage}}</a>
				</div>
			</div>
		</div>
		<script src="js/home/login.js"></script>
	</export>
</layout>